:css
  .category-wrapper .items-shell li {
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

.category-wrapper
- @results.each do |video|

  %ul.items-shell
    %li
    = link_to video.title


